name: Message Discord
on:
  workflow_call:
    inputs:
      info-outputs:
        required: true
        type: object

jobs:
  message-discord:
    name: Message Discord
    runs-on: ubuntu-latest
    needs: [info, release-github, release-modrinth]
    if: needs.info.outputs.webhook_present == 'true' && needs.info.outputs.make_release == 'true'
    steps:
      - name: Send Discord message
        uses: hugoalh/send-discord-webhook-ghaction@v7.0.5
        with:
          key: "${{ secrets.DISCORD_WEBHOOK }}"
          username: "irunatbullets"
          avatar_url: "https://cdn.modrinth.com/data/PoHFfv3G/53d3a9085947f25804334a2c5de8f656f3bb2f20.png"
          content_links_no_embed: .+
          embeds: |
            [
              {
                "title": "Surface Living — New Release [${{ needs.info.outputs.project_version }}]",
                "url": "https://modrinth.com/modpack/surface-living/version/${{ needs.info.outputs.project_version }}",
                "color": 5763719,
                "description": "A fresh update to **Surface Living** is out.",
                "fields": [
                  {
                    "name": "Links",
                    "value": "→ [View this release on Modrinth](https://modrinth.com/modpack/surface-living/version/${{ needs.info.outputs.project_version }})\n
                    → [Issue tracker & feedback](https://github.com/irunatbullets/surface-living/issues)\n
                    → [Full changelog](https://modrinth.com/modpack/surface-living/changelog)\n
                    → [Optional support](https://ko-fi.com/irunatbullets)"
                  }
                ],
                "thumbnail": {
                  "url": "https://cdn.modrinth.com/data/mPwYBsJ3/images/25bd95745cd6cc5d7d25c34c642792ffbdd48ead.png"
                }
              }
            ]
