name: Release to GitHub
on:
  workflow_call:
    inputs:
      info-outputs:
        required: true
        type: object

jobs:
  release-github:
    name: Release to GitHub
    runs-on: ubuntu-latest
    needs: [info, build-project]
    if: needs.info.outputs.make_release == 'true'
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          merge-multiple: true

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.info.outputs.project_version }}
          name: ${{ needs.info.outputs.project_version }}
          body: |
            ${{ needs.info.outputs.changelog }}

            <details>
            <summary>Mods diff</summary>

            ${{ needs.info.outputs.diff }}

            </details>
          files: |
            *.mrpack
            *.zip
          prerelease: ${{ needs.info.outputs.release_type != 'release' }}
