build
mods
resourcepacks
shaderpacks/ComplementaryReimagined_r5.6.1.zip

# Ignore instance files
config/actuallyharvest-common.toml
config/amendments-client.toml
config/amendments-common.toml
config/artifacts/
config/bakery-common.toml
config/carryon-client.toml
config/carryon-common.toml
config/collective.json5
config/comforts-common.toml
config/comforts-server.toml
config/cosmeticarmorreworked-client.toml
config/cosmeticarmorreworked-common.toml
config/craftingtweaks-common.toml
config/creeperoverhaul.jsonc
config/crepperoverhaul-client.jsonc
config/crittersandcompanions-common.toml
config/curios-client.toml
config/curios-common.toml
config/curios-server.toml
config/deeperdarker-common.toml
config/defaultoptions-common.toml
config/dynamic_fps.json
config/endermanoverhaul-client.jsonc
config/endermanoverhaul.jsonc
config/entityculling.json
config/explorations.json
config/fabric/
config/farm_and_charm-common.toml
config/farmersdelight-client.toml
config/farmersdelight-common.toml
config/ferritecore-mixin.toml
config/fml.toml
config/herbalbrews-common.toml
config/inventoryprofilesnext/New World/
config/iris-excluded.json
config/iris.properties
config/jade/
config/jrftl-common.toml
config/jumpoverfences-client.toml
config/kibe.json
config/lambdynlights.toml
config/libraryferret_1.properties
config/lithium.properties
config/lootr-client.toml
config/lootr-common.toml
config/modernfix-common.toml
config/modernfix-mixins.properties
config/moonlight-client.toml
config/moonlight-common.toml
config/neoforge-client.toml
config/neoforge-common.toml
config/neoforge-server.toml
config/netherex.jsonc
config/pal.properties
config/platform-client.toml
config/recharged-common.toml
config/resourceful-config-web.json
config/ribbits-neoforge-1_21_1.toml
config/ribbits-options.json
config/roughlyenoughitems/
config/smarterfarmers-common.toml
config/sodium-fingerprint.json
config/sodium-mixins.properties
config/sodium-options.json
config/sophisticatedbackpacks-common.toml
config/sophisticatedbackpacks-server.toml
config/sophisticatedcore-client.toml
config/sophisticatedcore-common.toml
config/sophisticatedstorage-client.toml
config/sophisticatedstorage-common.toml
config/sophisticatedstorage-server.toml
config/supplementaries-client.toml
config/supplementaries-common.toml
config/suppsquared-common.toml
config/terrablender.toml
config/toastbegone.toml
config/transition.json
config/trashslot-common.toml
config/trender.json
config/vanillabackport-client.toml
config/vanillabackport-common.toml
config/vinery.toml
config/wanderer_ribbit-common.toml
config/wandering-ribbit-spawn-config.toml
config/waystones-common.toml
config/whitenoise-client.toml
config/wildernature-common.toml
config/yacl.json5
config/yigd.json
data/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
icon.png
logs/
options.txt
pfm/
saves/
usercache.json
usernamecache.json
xaero/
.mixin.out/
XaeroWaypoints_BACKUP240807/

