name: Build Project
run-name: "Project Build #${{ github.run_number }}"

permissions:
  contents: write

on:
  push:
    branches: [dev, main]
    paths-ignore:
      - '.github/workflows/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - id: info
        uses: ./.github/actions/info

  build-project:
    runs-on: ubuntu-latest
    needs: info
    if: needs.info.outputs.pakku-lock_changed == 'true' || github.ref_name == 'main'
    steps:
      - uses: ./.github/actions/build-project
        env:
          PROJECT_VERSION: ${{ needs.info.outputs.project_version }}
          PROJECT_FILE_NAME: ${{ needs.info.outputs.project_file_name }}
          MC_VERSION: ${{ needs.info.outputs.mc_version }}
          LOADER_TYPE: ${{ needs.info.outputs.loader_type }}
          LOADER_VERSION: ${{ needs.info.outputs.loader_version }}
          MAKE_RELEASE: ${{ needs.info.outputs.make_release }}

  release-github:
    runs-on: ubuntu-latest
    needs: [info, build-project]
    if: needs.info.outputs.make_release == 'true'
    steps:
      - uses: ./.github/actions/release-github
        env:
          PROJECT_VERSION: ${{ needs.info.outputs.project_version }}
          CHANGELOG: ${{ needs.info.outputs.changelog }}
          DIFF: ${{ needs.info.outputs.diff }}
          RELEASE_TYPE: ${{ needs.info.outputs.release_type }}

  release-modrinth:
    runs-on: ubuntu-latest
    needs: [info, build-project, release-github]
    if: needs.info.outputs.make_release == 'true'
    steps:
      - uses: ./.github/actions/release-modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          MODRINTH_ID: ${{ vars.MODRINTH_ID }}
          PROJECT_FULL_NAME: ${{ needs.info.outputs.project_full_name }}
          PROJECT_VERSION: ${{ needs.info.outputs.project_version }}
          RELEASE_TYPE: ${{ needs.info.outputs.release_type }}
          MC_VERSION: ${{ needs.info.outputs.mc_version }}
          LOADER_TYPE: ${{ needs.info.outputs.loader_type }}
          CHANGELOG: ${{ needs.info.outputs.changelog }}
          DIFF: ${{ needs.info.outputs.diff }}

  message-discord:
    runs-on: ubuntu-latest
    needs: [info, release-github, release-modrinth]
    if: needs.info.outputs.webhook_present == 'true' && needs.info.outputs.make_release == 'true'
    steps:
      - uses: ./.github/actions/message-discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          MODRINTH_ID: ${{ vars.MODRINTH_ID }}
          PROJECT_NAME: ${{ needs.info.outputs.project_name }}
          PROJECT_SAFE_NAME: ${{ needs.info.outputs.project_safe_name }}
          PROJECT_VERSION: ${{ needs.info.outputs.project_version }}
