name: Build Project
run-name: "Project Build #${{ github.run_number }}"

permissions:
  contents: write

on:
  push:
    branches: [dev, main]
    paths-ignore:
      - '.github/workflows/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  info:
    uses: ./.github/workflows/jobs/info.yml

  build-project:
    uses: ./.github/workflows/jobs/build-project.yml
    needs: info
    with:
      info-outputs: ${{ needs.info.outputs }}

  release-github:
    uses: ./.github/workflows/jobs/release-github.yml
    needs: [info, build-project]
    with:
      info-outputs: ${{ needs.info.outputs }}

  release-modrinth:
    uses: ./.github/workflows/jobs/release-modrinth.yml
    needs: [info, build-project, release-github]
    with:
      info-outputs: ${{ needs.info.outputs }}

  message-discord:
    uses: ./.github/workflows/jobs/message-discord.yml
    needs: [info, release-github, release-modrinth]
    with:
      info-outputs: ${{ needs.info.outputs }}
