name: Build Project
run-name: "Project Build #${{ github.run_number }}"

permissions:
  contents: write

on:
  push:
    branches: [dev, main]
    paths-ignore:
      - '.github/workflows/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  info:
    uses: ./.github/workflows/info.yml

  build-project:
    uses: ./.github/workflows/build-project.yml
    needs: info

  release-github:
    uses: ./.github/workflows/release-github.yml
    needs: [info, build-project]

  release-modrinth:
    uses: ./.github/workflows/release-modrinth.yml
    needs: [info, build-project, release-github]

  message-discord:
    uses: ./.github/workflows/message-discord.yml
    needs: [info, release-github, release-modrinth]
